body {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  font-family: Geneva, Arial, sans-serif !important;
}

:root {
  --strFontFace: Geneva, Arial, sans-serif;
  --strFontSize: small;
  --strTextColor: #1d3557;
  --strTitleColor: #1d3557;

  --strFuncLightColor: #f8fcf6;
  --strFuncShadeColor: #457b9d;
  --strLinkColor: #0000ff;
  --strVLinkColor: #1d3557;

  --strPageBGColor: #a8dadc;
  --strExBGColor: #f1faee;
}

.blabla {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  color: #1d3557;
}

p {
  color: #e63946;
}

header {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
}

#titlelink {
  text-decoration: none;
}

/* footer {
  
} */

h2 {
  color: #1d3557;
  font-weight: normal;
  margin-left: 1rem;
  padding-top: 0.8rem;
}

h2 b:nth-child(1) {
  color: #1d3557;
}
h2 b:nth-child(2) {
  color: #1d3557;
}
h2 b:nth-child(3) {
  color: #e63946;
}

.FuncButton {
  border-style: none;
  border-radius: 0.5em;
  padding: 0.5em;
  min-width: 3em;

  border-left-color: var(--strFuncLightColor);
  border-top-color: var(--strFuncLightColor);
  border-right-color: var(--strFuncShadeColor);
  border-bottom-color: var(--strFuncShadeColor);
  color: #a8dadc;
  background-color: #1d3557;
  border-radius: 17px;
  border-width: 1pt;
  cursor: pointer;
  box-shadow: 0.2em 0.3em 0.2em var(--strFuncShadeColor);
}

.FuncButton:active {
  box-shadow: none;
  border: none;
}

.FuncButton:hover {
  background-color: #457b9d;
  color: #f1faee;
  transition: 0.5s;
  border-color: #457b9d;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
    background-color: #f1faee;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    background-color: #f1faee;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
    color: #a8dadc;
  }
  .dropdown-menu > li:hover {
    background-color: #a8dadc;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

.dropdown-menu {
  background-color: #f1faee;
}

.dropdown-item:hover {
  background-color: #457b9d;
  color: #f1faee;
}

#category-name {
  font-family: Geneva, Arial, sans-serif;
  color: #1d3557;
}

.dropdown-item {
  color: #1d3557;
}

.navbartogglericon {
  color: #1d3557;
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* ============ small devices .end// ============ */
.suche {
  width: 6rem;
}

.form-control {
  border-radius: 17px;
  background-color: #f1faee;
  min-width: 11rem;
}
